*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

button:focus,
input:focus,
a:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid whitesmoke;
  outline-offset: 2px;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  width: 1140px;
  gap: 30px;
  display: flex;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  object-fit: contain;
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  box-sizing: border-box;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__fieldset-title {
  font-family:
    Fira Sans Condensed,
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: white;
  line-height: 21.6px;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
  font-family: inherit;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px 0 0 1px;
  background-color: white;
}

.search-form__label-text {
  font-family:
    Fira Sans Condensed,
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  min-height: 34px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: transparent;
  color: white;
  font-family:
    Fira Sans Condensed,
    sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

/*  outline при focus сброшен выше .page
outline при focus-visible задан тоже выше .page после свойств html */

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  max-width: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow-y: auto;
  padding: 1px 0 0 1px;
  box-sizing: border-box;
  scrollbar-width: thin;
}

.content__list-item {
  padding: 2px;
  margin-bottom: 32px;
}

.content__video-card-description-container {
  width: 200px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
  color: white;
}

/*  outline при focus на  content__card-link сбросила выше вместе с button и инпут если так можно*/

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  width: 100%;
  max-width: 194px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  color: white;
  font-family:
    Fira Sans Condensed,
    sans-serif;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
